.body{
  
}
.cnn{   
  /* margin-top: 30% ;
  margin-left: 20%; */
  text-align: center;
  color:red;
  font-weight: bold;
  /* border:1px solid red;
  width: 59%;
  padding-bottom: 5%; */
}
.s1{
  padding:5px;
  background-color: cyan;
  border:none;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 3px;
}
.s2{
  padding:5px;
  background-color: cyan;
  border:none;
  border-radius: 5px;
  font-weight: bold;
  margin-right: 6px;
}
.s1:hover{
  background-color: fuchsia;
  color:white;
}
.s2:hover{
  background-color: greenyellow;
  color:white;
}